.slide img {
    width: 100%;
    height: 500px;
    object-fit:cover;
}
.arrow {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider-wraper {
    position: relative;
}
.arrow-right {
    right: 30px
}
.arrow-left {
    left: 30px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dotParent {
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
}
.activeDot {
    border:2px solid #fff;
}
.bg-image {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.error-text {
    color:red;
    display: block;
}
#text {
    display: block;
}
.scroll {
    background-color: red;
}
body {
    padding-top: 56px;
}
header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

a {
    position: relative;
    text-decoration: none;
    transition: all 0.5s linear;
}
a::after {
    content: ' ';
    position: absolute;
    left:0;
    bottom:0;
    height: 1px;
    width:0%;
    background-color: red;
    transition: all 0.5s linear;
}

a:hover::after {
    width: 80%;
}
